<template>
  <div>
    <v-row>
      <v-col :span="12" :offset="6">
          <div class="navbar">
          <h1 class="page-header">
            <img :src="user.avatarUrl() ? user.avatarUrl() : '../../static/avatar-placeholder.png'" class="avatar">
            <small><span class="sign-out">(<a href="#" @click.prevent="signOut">Sign Out</a>) {{ user.username ? user.username : "Anonymous User" }} </span></small>
            <img src="../../static/small-logo.png" class="main-logo"/>
          </h1>
          </div>
          <br/>
          <h2 class="addfriend-small-title"><small>
            Add a friend:
          </small></h2>
          <div class="content">
            <form @submit.prevent="addfriend" :disabled="! friend" class="addfriend">
              <div class="form-group">
                <v-input v-model="friend" type="text" class="form-control" placeholder="Add a friend..." autofocus>
                  <template slot="addonAfter">
                    <v-icon type="user-add" />
                  </template>
                </v-input>
                <v-select class="priority-selection" v-model="priority">
                  <v-option value="21">A (Very important people. Contact every three weeks.)</v-option>
                  <v-option value="60">B (Important people. Contact every two months.)</v-option>
                  <v-option value="180">C (Most people. Contact every six months.)</v-option>
                  <v-option value="365">D (Demoted people. Contact once a year, to make sure you still have their correct info.)</v-option>
                </v-select>
                <span>
                  <button class="ant-btn" type="submit" :disabled="! friend">
                    Add
                  </button>
                </span>
              </div>
            </form>
          </div>
          <br/>
          <h2>
            Say 👋 to:
          </h2>
          <div class="friend-list">
            <ul class="list-group">
              <li v-for="friend in friends"
                class="list-group-item"
                :class="{contacted: friend.contacted}"
                :key="friend.id">
                <label>
                  <v-checkbox type="checkbox" v-model="friend.contacted"><strong>{{ friend.name }}</strong>, added {{ friend.contact }} with priority {{ friend.priority }}</v-checkbox>
                </label>
                <a @click.prevent="friends.splice(friends.indexOf(friend), 1)"
                  class="delete pull-right"
                  href="#">X</a>
              </li>
            </ul>
          </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
const STORAGE_FILE = 'friends.json'
let dateObj = new Date()
let month = dateObj.getUTCMonth() + 1
let day = dateObj.getUTCDate()
let year = dateObj.getUTCFullYear()
let today = day + '/' + month + '/' + year

export default {
  name: 'dashboard',
  props: ['user'],
  data () {
    return {
      blockstack: window.blockstack,
      friends: [],
      friend: '',
      uidCount: 0,
      priority: '180'
    }
  },
  watch: {
    friends: {
      handler: function (friends) {
        const blockstack = this.blockstack
        const encrypt = true
        return blockstack.putFile(STORAGE_FILE, JSON.stringify(friends), encrypt)
      },
      deep: true
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    addfriend () {
      if (!this.friend.trim() || !this.priority) {
        return
      }
      this.friends.unshift({
        id: this.uidCount++,
        name: this.friend.trim(),
        contact: today,
        priority: this.priority,
        pastDue: false,
        contacted: false
      })
      this.friend = ''
    },

    fetchData () {
      const blockstack = this.blockstack
      const decrypt = true
      blockstack.getFile(STORAGE_FILE, decrypt)
      .then((friendsObj) => {
        let friends = JSON.parse(friendsObj || '[]')
        friends.forEach(function (friend, index) {
          friend.id = index
        })
        this.uidCount = friends.length
        this.friends = friends
      })
    },

    signOut () {
      this.blockstack.signUserOut(window.location.href)
    }
  }
}
</script>
