<template>
  <div class="hello">
    <div>
      <img  class="logo" src="../../static/logo.png" alt="KIT - Keep in Touch"/>
      <p class="subtitle">A decentralized Friendship CRM built on <a href="https://blockstack.org" target="_blank">Blockstack</a></p>
      <button class="ant-btn-lg ant-btn login-home" @click.prevent="signIn">Sign In With Blockstack</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'landing',
  data () {
    return {
      blockstack: window.blockstack
    }
  },

  methods: {
    signIn () {
      const blockstack = this.blockstack
      blockstack.redirectToSignIn()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hello {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

</style>
