// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600,700");

// Bootstrap
@import "variables";

body{
  background: #ECECEC;
}

html, body, #app {
  height: 100%;
  font-family: 'Source Code Pro',monospace;
}

.page-header{
  margin-top: 0.8em;
}

.subtitle{
  text-align: center;
  font: 'Source Code Pro',monospace;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-logo{
  display: block;
  float: left;
}

.navbar{
  display: block;
}

.login-home{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-top: 2em;
}

.avatar {
  width: 30px;
  float: right;
  border-radius: 2px;
}

.pull-right{
  float: right;
}

.addfriend-small-title{
  text-align: center;
  margin-top: 3em;
}

.creds {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-align: right;
}

.page-header {
  margin-bottom: 0px;
}

.priority-selection{
  padding-top: 1em;
  padding-bottom: 1em;
}

.sign-out {
  float: right;
  padding-top:8px;
  padding-right:10px;
  font-size: 12px;
}

.user-info {
  margin-top: 5px;
  margin-bottom: 30px
}

.add-friend-btn{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 2em;
}

.content{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.addfriend{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.friend-list{
  background: white;
  padding: 1em;
}
